* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-menu {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}

.btn-menu div {
    width: 100%;
    margin-bottom: 8px;
    
    background: #555;
    border-radius: 9999px;
    transition: all .5s;
}
.btn-menu div:first-child {
    height: 3px;
    
}
.btn-menu div:nth-child(2) {
    height: 3px;
    
}
.btn-menu div:last-child {
    height: 3px;
    
}

.btn-menu.active div:first-child {
    transform:   translateY(10px) rotate(45deg) perspective(100px) rotateY(360deg);
    height: 3px;
}
.btn-menu.active div:nth-child(2) {
    transform: scaleX(0) scaleY(0);
}
.btn-menu.active div:last-child{
    transform:  translateY(-12px) rotate(-45deg) perspective(100px) rotateY(360deg);
    
    height: 3px;
}




.menu {
    position: fixed;
    top: 0;
    right: -300px;
    padding: 30px;
    width: 300px;
    height: 100vh;
    background-color: wheat;
    transition: all .5s;
}

.menu.active {
    right: 0;
}

a {
    display: block;
    margin: 20px 0;
    padding: 10px 0;
    color: rgb(201, 114, 114);
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: #fff;
}